@page "/clientMemberships"
@inject ClientMembershipService clientMembershipService
@inject ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

    <h1>Client memberships</h1>
@if (isLoading)
{
    <div>Loading...</div>
    <div class="loader"></div>
}
else
{
    <table class="table">
        <thead class="table__head">
            <tr>
                @if (userType == 0)
                {
                    <th class="table__cell-head">ID</th>
                    <th class="table__cell-head">Client ID</th>
                }
                <th class="table__cell-head">Membership ID</th>
                <th class="table__cell-head">Gym ID</th>
                <th class="table__cell-head">Buying date</th>
                <th class="table__cell-head">Current entries</th>
                <th class="table__cell-head">Price</th>
                <th class="table__cell-head">Available until</th>
                <th class="table__cell-head">First usage</th>
                <th class="table__cell-head">Bar code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var memShip in clientMemShipList)
            {
                <tr class="table__row">
                    @if (userType == 0)
                    {
                        <td class="table__cell-row">@memShip.Client_Membership_Id</td>
                        <td class="table__cell-row">@memShip.Client_Id</td>
                    }
                    <td class="table__cell-row">@memShip.Membership_Id</td>
                    <td class="table__cell-row">@memShip.Gym_Id</td>
                    <td class="table__cell-row">@memShip.Buying_Date</td>
                    <td class="table__cell-row">@memShip.Entry_Count</td>
                    <td class="table__cell-row">@memShip.Price</td>
                    <td class="table__cell-row">@memShip.Available_until</td>
                    <td class="table__cell-row">@memShip.First_Usage_Date</td>
                    <td class="table__cell-row">@memShip.Bar_Code</td>
                    @if (userType == 0)
                    {
                        <td class="table__cell-row">
                            <a class="nav-link" href="editClientMembership/@memShip.Client_Membership_Id">
                                <span class="oi oi-pencil" aria-hidden="true" style="margin-right:10px"></span>Edit
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<ClientMembership> clientMemShipList = new List<ClientMembership>();
    int userType = 1;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        clientMemShipList = await Task.Run(() => clientMembershipService.GetClientMemberships());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int loggedIn = await sessionStorage.GetItemAsync<int>("loggedIn");
        if (loggedIn == 0)
        {
            NavigationManager.NavigateTo("login");
        }

        userType = await sessionStorage.GetItemAsync<int>("userType");
        isLoading = false;
        StateHasChanged();
    }
}
