@page "/addMembership"
@inject MembershipService membershipService
@inject GymService gymService
@inject NavigationManager NavigationManager
@inject ISessionStorageService sessionStorage
@inject IToastService toastService

<h3>Add membership type</h3>

<form>
    <div class="form-group">
        <label for="Name" class="control-label">Name</label>
        <input form="Name" class="form-control" @bind="@memShip.Name" />
    </div>
    <div class="form-group">
        <label for="gym" class="control-label">Gym</label>
        <select form="gym" class="form-control" @bind="@selectedGymIndex">
            @foreach (var gym in gyms)
            {
                <option value="@gym.Gym_id">@gym.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Price" class="control-label">Price</label>
        <input form="Price" class="form-control" type="number" @bind="@memShip.Price" />
    </div>
    <div class="form-group">
        <label for="Days" class="control-label">Days available</label>
        <input form="Days" class="form-control" type="number" @bind="@memShip.Days_available" />
    </div>
    <div class="form-group">
        <label for="Entries" class="control-label">Entries available</label>
        <input form="Entries" class="form-control" type="number" @bind="@memShip.Entries_available" />
    </div>
    <div class="form-group">
        <label for="Start_time" class="control-label">From</label>
        <input form="Start_time" class="form-control" type="time" @bind="@start_time" />
    </div>
    <div class="form-group">
        <label for="End_time" class="control-label">Until</label>
        <input form="End_time" class="form-control" type="time" @bind="@end_time" />
    </div>
    <div class="form-group">
        <label for="max-entry" class="control-label">Max. number of entries a day</label>
        <input form="max-entry" class="form-control" type="number" @bind="@memShip.Usable_number" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateMembership" value="Add membership" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    Membership memShip = new Membership();
    List<Gym> gyms = new List<Gym>();
    int selectedGymIndex;

    DateTimeOffset start_time;
    DateTimeOffset end_time;

    protected override async Task OnInitializedAsync()
    {
        gyms = await Task.Run(() => gymService.GetGyms());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int loggedIn = await sessionStorage.GetItemAsync<int>("loggedIn");
        if (loggedIn == 0)
        {
            NavigationManager.NavigateTo("login");
        }

        int userType = await sessionStorage.GetItemAsync<int>("userType");
        if (userType != 0)
        {
            NavigationManager.NavigateTo("addGym-notFound");
        }
    }

    protected void CreateMembership()
    {
        memShip.Start_time = start_time.TimeOfDay.ToString();
        memShip.End_time = end_time.TimeOfDay.ToString();
        memShip.Gym_id = gyms[selectedGymIndex].Gym_id;

        String message = membershipService.AddMembership(memShip);
        toastService.ShowInfo(message);
        NavigationManager.NavigateTo("memberships");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("memberships");
    }
}
