@page "/memberships"
@inject MembershipService membershipService

<h1>Membership types</h1>

@if (memberships == null)
{
<div>Loading...</div>
<div class="client loader"></div>
}
else
{
<div class="row">
    <NavLink class="nav-link" href="addMembership">
        <span class="oi oi-plus" aria-hidden="true" style="margin-right:10px"></span>Add new
    </NavLink>
</div>


<table class="table">
    <thead class="table__head">
        <tr>
            <th class="table__cell-head">ID</th>
            <th class="table__cell-head">Name</th>
            <th class="table__cell-head">Gym</th>
            <th class="table__cell-head">Price</th>
            <th class="table__cell-head">Days</th>
            <th class="table__cell-head">Entries</th>
            <th class="table__cell-head">Start time</th>
            <th class="table__cell-head">End time</th>
            <th class="table__cell-head">Usable number</th>
            <th class="table__cell-head">Is deleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var memShip in memberships)
        {
            <tr class="table__row">
                <td class="table__cell-row">@memShip.Id</td>
                <td class="table__cell-row">@memShip.Name</td>
                <td class="table__cell-row">@memShip.Gym_id</td>
                <td class="table__cell-row">@memShip.Price</td>
                <td class="table__cell-row">@memShip.Days_available</td>
                <td class="table__cell-row">@memShip.Entries_available</td>
                <td class="table__cell-row">@memShip.Start_time</td>
                <td class="table__cell-row">@memShip.End_time</td>
                <td class="table__cell-row">@memShip.Usable_number</td>
                <td class="table__cell-row">@memShip.Is_deleted</td>
                <td class="table__cell-row">
                    <a class="nav-link" href="editMembership/@memShip.Id">
                        <span class="oi oi-pencil" aria-hidden="true" style="margin-right:10px"></span>Edit
                    </a>
                </td>
                <td class="table__cell-row">
                    <a class="nav-link" href="inactivateMembership/@memShip.Id">
                        <span class="oi oi-trash" aria-hidden="true" style="margin-right:10px"></span>Inactivate
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    List<Membership> memberships;


    protected override async Task OnInitializedAsync()
    {
        memberships = await Task.Run(() => membershipService.GetMemberships());
    }
}
