@page "/addClient"
@inject ClientService objClientService
@inject MembershipService membershipService;
@inject ClientMembershipService clientMembershipService;
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using System.IO
@using System.Text.RegularExpressions;

<h3>Add Client</h3>

<form>
    <div class="form-group">
        <label for="Name" class="control-label">Name</label>
        <input form="Name" class="form-control" @bind="@client.Name" />
    </div>
    <div class="form-group input-photo__group">
        <div>@mimetype</div>
        <div>
            <label for="Photo">Photo: </label>
            @if (clientPhoto != null)
            {
                <img form="Photo" alt="client-photo" class="form__client-photo" src="data:image/png;base64,@(Convert.ToBase64String(clientPhoto))" />
            }
        </div>
        <InputFile class="image_input" OnChange="@loadImage" />
    </div>
    <div class="form-group">
        <label for="Phone" class="control-label">Phone number</label>
        <input form="phone" class="form-control" @bind="@client.Phone_number" />
    </div>
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input form="Email" class="form-control" @bind="@client.Email" />
    </div>
    <div class="form-group">
        <label for="Pin" class="control-label">PIN</label>
        <input form="Pin" class="form-control" @bind="@client.PIN" />
    </div>
    <div class="form-group">
        <label for="Address" class="control-label">Address</label>
        <input form="Address" class="form-control" @bind="@client.Address" />
    </div>
    <div class="form-group">
        <label for="membership" class="control-label">Membership</label>
        <select form="membership" class="form-control" @bind="@selectedMembershipIndex">
            @foreach (var memShip in memShips)
            {
                <option value="@memShip.Id">@memShip.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <!-- <label for="Picture" class="control-label">Picture</label>
        <input form="Picture" class="form-control" type="file" accept="image/*" capture @bind="@clientPhoto" />-->
        <canvas></canvas>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateClient" value="Add client" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    String mimetype = "";
    byte[] clientPhoto;
    Client client = new Client();
    int newClientId;
    List<Membership> memShips = new List<Membership>();
    int selectedMembershipIndex;
    IBrowserFile selectedImage;

    protected override async Task OnInitializedAsync()
    {
        memShips = await Task.Run(() => membershipService.GetMemberships());
    }

    public async Task loadImage(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;
        Regex rx = new Regex(@"^image.*");
        MatchCollection matches = rx.Matches(selectedImage.ContentType);
        if(matches.Count == 0)
        {
            toastService.ShowError("Invalid file format.");

        }
        else
        {
            MemoryStream stream = new MemoryStream();
            await selectedImage.OpenReadStream().CopyToAsync(stream);

            long length = selectedImage.Size;
            clientPhoto = new byte[length];
            clientPhoto = stream.ToArray();
        }
    }

    protected void CreateClient()
    {

        string bar_code = Guid.NewGuid().ToString();
        DateTime current_date = DateTime.Now;

        client.Bar_code = bar_code;
        client.Inserted_date = current_date;
        client.Photo = clientPhoto;

        CreateClientMembership();
        newClientId = objClientService.AddClient(client);

        toastService.ShowInfo("Client added successfully.");
        NavigationManager.NavigateTo("clients");
    }

    protected void CreateClientMembership()
    {
        ClientMembership clientMembership = new ClientMembership();
        Membership selectedMembership = memShips[selectedMembershipIndex];
        DateTime current_date = DateTime.Now;

        clientMembership.Client_Id = newClientId;
        clientMembership.Membership_Id = selectedMembership.Id;
        clientMembership.Buying_Date = current_date;
        clientMembership.Bar_Code = client.Bar_code;
        clientMembership.Price = selectedMembership.Price;
        clientMembership.Available_until = current_date.AddDays(selectedMembership.Days_available);
        clientMembership.First_Usage_Date = current_date;
        clientMembership.Gym_Id = selectedMembership.Gym_id;

        clientMembershipService.AddClientMembership(clientMembership);
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("clients");
    }
}
