@page "/clients"
@inject ClientService objClientService
@inject ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager


@if (objClients == null)
{
    <h1>Clients</h1>
    <div>Loading...</div>
    <div class="loader"></div>
}
else
{
    <div class="page-header">
        <h1>Clients</h1>
        <div class="input-group client-search">
            <div class="form-inline">
                <input type="search"
                       id="form1"
                       class="form-control"
                       placeholder="Search by name"
                       @bind-value="searchTerm"
                       @bind-value:event="oninput" />
                <i class="fas fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <NavLink class="nav-link" href="addClient">
            <span class="oi oi-plus" aria-hidden="true" style="margin-right:10px"></span>Add new
        </NavLink>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">First</a></li>
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                <li class="page-item"><a class="page-link" href="#">Last</a></li>
            </ul>
        </nav>
    </div>
    
    <table style="width:100%" class="table table-striped">
        <caption>Clients</caption>
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Address</th>
                <th>PIN</th>
                <th>Bar code</th>
                <th>Inserted date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in filteredClients)
            {
                if (client.User_type != 0)
                {
                    <tr>
                        <td>@client.Client_id</td>
                        <td>
                            @if (client.Photo == null)
                            {
                                <img alt="client-photo" class="table__client-photo placeholder" />
                            }
                            else
                            {
                                <img alt="client-photo" class="table__client-photo" src="data:image/png;base64,@(Convert.ToBase64String(client.Photo))" />
                            }
                        </td>
                        <td>@client.Name</td>
                        <td>@client.Phone_number</td>
                        <td>@client.Email</td>
                        <td>@client.Address</td>
                        <td>@client.PIN</td>
                        <td>@client.Bar_code</td>
                        <td>@client.Inserted_date</td>
                        <td>
                            <a class="nav-link" href="addClientMembership/@client.Client_id/@client.Bar_code">
                                <span class="oi oi-plus" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a class="nav-link" href="editClient/@client.Client_id">
                                <span class="oi oi-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a class="nav-link" href="deleteClient/@client.Client_id">
                                <span class="oi oi-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">First</a></li>
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            <li class="page-item"><a class="page-link" href="#">Last</a></li>
        </ul>
    </nav>
}

@code {
    List<Client> objClients;


    protected override async Task OnInitializedAsync()
    {
        objClients = await Task.Run(() => objClientService.GetClients());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int loggedIn = await sessionStorage.GetItemAsync<int>("loggedIn");
        if (loggedIn == 0)
        {
            NavigationManager.NavigateTo("login");
        }

        int userType = await sessionStorage.GetItemAsync<int>("userType");
        if (userType != 0)
        {
            NavigationManager.NavigateTo("clients-notFound");
        }
    }

    string searchTerm { get; set; } = "";
    List<Client> filteredClients => objClients.Where(c => c.Name.ToLower().Contains(searchTerm.ToLower())).ToList();
}
